@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'revxRegular';
  src: url('../public//assets/RevxNeueDemo-Regular.ttf');
}

@font-face {
  font-family: 'revxSemiBold';
  src: url('../public//assets/RevxNeueDemo-SemiBold.ttf');
}

@font-face {
  font-family: 'japan';
  src: url('../public//assets/Japanese\ 3017.ttf');
}
@font-face {
  font-family: 'cosmas';
  src: url('../public//assets/Cosmas.ttf');
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
